
/* This should change the font and use google fonts, but it's not working!!! */
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap');
/*<link href="https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap" rel="stylesheet">*/

.book.font-family-0 {
  font-family: "Merriweather", Georgia, serif;
}
.book.font-family-1 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

/* TOC width */
.book .book-summary{left:-400px; width:400px;}
@media (min-width: 600px) {
    .book.with-summary .book-header.fixed {left: 400px;}
    .book.with-summary .book-body{left:400px}
}
@media (max-width: 600px) {
    .book.with-summary .book-header.fixed {min-width: 400px;}
    .book.with-summary .book-body {min-width: 400px;}
}

/* Width of body text */
.book .book-body .page-wrapper .page-inner {
	max-width: 80%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #1d3a83;
}
.title {
	font-weight: 700;
}
.level1 {
	border-bottom: 1px solid;
}
.header-section-number {
	padding-right: .2em;
	font-weight: 500;
}
.level1 .header-section-number {
	display: inline-block;
	border-bottom: 3px solid;
}
.smallcaps {
	font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
	font-weight: 600;
}

code {
	background-color: #fafafa;
}

div {
	overflow: auto;
}

.caption {
	color: #777;
	margin-top: 10px;
}
.accessibility_instructions {
	color: #fff;
	font-size: 1px;
	padding: 0;
}
.flushright {
	text-align: right;
}

p code {
	white-space: inherit;
}
pre {
	word-break: normal;
	word-wrap: normal;
}
pre code {
	white-space: inherit;
}

blockquote > p:last-child {
	text-align: right;
}
blockquote > p:first-child {
	text-align: inherit;
}

a:link, a:visited {
	/*outline: none;  // outlines should only be modified using :focus*/
	color: #1d3a83;
}
a:hover, a:active {
	color: #005daa;
}

.book .book-body .page-wrapper .page-inner section.normal .datatable {
	display: table;
	width: 100%;
	margin: 0 auto;
	border: none;
	/*padding: 2px 4px;*/
	font-style: normal;
    font-weight: 400;
	font-size: 0.75em;
	line-height: 1;
	text-align: left;
	overflow: auto;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable td,
.book .book-body .page-wrapper .page-inner section.normal .datatable th,
.book .book-body .page-wrapper .page-inner section.normal .datatable tr {
	padding: 2px 4px;
	border: none;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable caption {
	text-align: left;
	font-size: 1.5em;
	margin: 8px 0;
	color: #1d3a83;
	font-weight: 600;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable thead tr th {
	font-weight: 600;
	padding: 3px 6px;
	border-bottom: 1px solid #1d3a83;
	color: #fff;
	background: #314875;
	text-align: center;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tbody tr th {
	font-weight: 600;
	color: #1d3a83;
	min-width: 5em;
	padding: 2px 4px;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tbody tr td {
	font-weight: 400;
	text-align: right;
	padding: 2px 4px;
	min-width: 8%;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tr {
	background-color:#fff;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tr:nth-child(even) {
	background-color: #f0f3f7;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tr:hover {
	background-color: #f5f5f5;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tbody tr[data-value~="SUBTOTAL" i] th {
	font-weight: 600;
	color: #fff;
	background: #4e6694;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tbody tr[data-value~="SUBTOTAL" i] td {
	font-weight: 600;
	color: #fff;
	background: #4e6694;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tbody tr[data-value~="SUBTOTAL" i] td[data-value="0"]:after {
	color: #4e6694;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tbody tr[data-value~="TOTAL" i] th {
	font-weight: 600;
	color: #fff;
	background: #314875;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tbody tr[data-value~="TOTAL" i] td {
	font-weight: 600;
	color: #fff;
	background: #314875;
}
.book .book-body .page-wrapper .page-inner section.normal .datatable tbody tr[data-value~="TOTAL" i] td[data-value="0"]:after {
	color: #314875;
}

